<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.biz.token.mapper.TokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxl.job.executor.biz.token.entity.Token">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="access_token" property="accessToken" />
        <result column="app_key" property="appKey" />
        <result column="app_secret" property="appSecret" />
        <result column="agent_id" property="agentId" />
        <result column="refresh_token" property="refreshToken" />
        <result column="save_time" property="saveTime" />
        <result column="expires_time" property="expiresTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, access_token, app_key, app_secret, agent_id, refresh_token, save_time, expires_time, create_time, update_time, creator, updater, deleted
    </sql>

</mapper>
