<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.biz.amazon.mapper.OrderProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxl.job.executor.biz.amazon.entity.OrderProductDO">
        <id column="id" property="id" />
        <result column="amazon_order_id" property="amazonOrderId" />
        <result column="source_item_id" property="sourceItemId" />
        <result column="puid" property="puid" />
        <result column="shop_id" property="shopId" />
        <result column="commodity_id" property="commodityId" />
        <result column="commodity_sku" property="commoditySku" />
        <result column="commodity_name" property="commodityName" />
        <result column="asin" property="asin" />
        <result column="parent_asin" property="parentAsin" />
        <result column="seller_sku" property="sellerSku" />
        <result column="listing_id" property="listingId" />
        <result column="title" property="title" />
        <result column="image_url" property="imageUrl" />
        <result column="asin_url" property="asinUrl" />
        <result column="quantity_ordered" property="quantityOrdered" />
        <result column="quantity_shipped" property="quantityShipped" />
        <result column="item_price_currency" property="itemPriceCurrency" />
        <result column="item_price_amount" property="itemPriceAmount" />
        <result column="item_tax_amount" property="itemTaxAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="updater" property="updater" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, amazon_order_id, source_item_id, puid, shop_id, commodity_id, commodity_sku, commodity_name, asin, parent_asin, seller_sku, listing_id, title, image_url, asin_url, quantity_ordered, quantity_shipped, item_price_currency, item_price_amount, item_tax_amount, create_time, update_time, deleted, updater, creator
    </sql>

</mapper>
