<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.biz.amazon.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxl.job.executor.biz.amazon.entity.OrderDO">
        <id column="id" property="id" />
        <result column="source_id" property="sourceId" />
        <result column="amazon_order_id" property="amazonOrderId" />
        <result column="buyer_id" property="buyerId" />
        <result column="puid" property="puid" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="marketplace_id" property="marketplaceId" />
        <result column="marketplace_cn" property="marketplaceCn" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="last_update_date" property="lastUpdateDate" />
        <result column="payments_date" property="paymentsDate" />
        <result column="order_status" property="orderStatus" />
        <result column="order_type" property="orderType" />
        <result column="fulfillment_channel" property="fulfillmentChannel" />
        <result column="order_total_currency" property="orderTotalCurrency" />
        <result column="order_total_amount" property="orderTotalAmount" />
        <result column="order_profit" property="orderProfit" />
        <result column="profit" property="profit" />
        <result column="profit_rate" property="profitRate" />
        <result column="is_return_order" property="isReturnOrder" />
        <result column="is_business_order" property="isBusinessOrder" />
        <result column="is_prime" property="isPrime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="updater" property="updater" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, source_id, amazon_order_id, buyer_id, puid, shop_id, shop_name, marketplace_id, marketplace_cn, purchase_date, last_update_date, payments_date, order_status, order_type, fulfillment_channel, order_total_currency, order_total_amount, order_profit, profit, profit_rate, is_return_order, is_business_order, is_prime, create_time, update_time, deleted, updater, creator
    </sql>

</mapper>
